  ol, ul {
    padding-left: 30px;
  }

  .square {
    background: #ffffff;
    border: 1px solid #999;
    float: left;
    line-height: 32px;
    padding: 0;
    text-align: center;
    width: 18px;
    height: 18px;
  }
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .mem-block-0 
  {
    background: -webkit-linear-gradient(left, #e04a4a, white 0%);
    background: -moz-linear-gradient(left center, #e04a4a, white 0%);
    background: -o-linear-gradient(left,#e04a4a, white 0%);
    background: linear-gradient(to right,#e04a4a, white 0%);
  }
  .mem-block-25 
  {
    background: -webkit-linear-gradient(left, #e04a4a, white 25%);
    background: -moz-linear-gradient(left center, #e04a4a, white 25%);
    background: -o-linear-gradient(left,#e04a4a, white 25%);
    background: linear-gradient(to right, #e04a4a, white 25%);
  }
  .mem-block-50 
  {
    background: -webkit-linear-gradient(left, #e04a4a, white 50%);
    background: -moz-linear-gradient(left center, #e04a4a, white 50%);
    background: -o-linear-gradient(left, #e04a4a, white 50%);
    background: linear-gradient(to right, #e04a4a, white 50%);
  }
  .mem-block-75
  {
    background: -webkit-linear-gradient(left, #e04a4a, white 75%);
    background: -moz-linear-gradient(left center, #e04a4a, white 75%);
    background: -o-linear-gradient(left,#e04a4a, white 75%);
    background: linear-gradient(to right, #e04a4a, white 75%);
  }
  .mem-block-100 
  {
    background: #e04a4a;
  }
  
  #theme-toggle {
    position: fixed;
    bottom: 0;
    right: 0;
  }

  .selected{
    border-color: black;
    border-radius: 2px;
    border-width: 2px;
  }

.red{
  background: #e04a4a
}
.green{
  background: green
}
.blue{
  background: aqua
}
.black{
  background: black
}
.quet{
  height: 8.5px;
  width: 8px;
  padding-right: 0;
  padding-left: 0;
  flex-basis:auto;
  flex-grow:0;
}
.box{
  margin-top: -1px;
  margin-bottom: -1px;

}
.fill{
  width: 100%;
}