  ol, ul {
    padding-left: 30px;
  }

  .square {
    background: #ffffff;
    border: 1px solid #999;
    float: left;
    line-height: 32px;
    padding: 0;
    text-align: center;
    width: 18px;
    height: 18px;
  }
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .mem-block-0 
  {
    background:white
  }
  .mem-block-25 
  {
    background: #efa1a1
  }
  .mem-block-50 
  {
    background: #e77676
  }
  .mem-block-75
  {
    background:#e04a4a
  }
  .mem-block-100 
  {
    background: #D32424;
  }
  
  #theme-toggle {
    position: fixed;
    bottom: 0;
    right: 0;
  }

  .selected{
    border-color: black;
    border-radius: 2px;
    border-width: 2px;
  }

.hoverd{
  border: 2px solid black;
}